*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    background: black;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.head{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.a{
    width: 80%;
    background: palegreen;
    color: blueviolet;
}